.app-container {
    padding: 100px;
}

/* ----------- Header ----------- */
.header-container {
    display: flex;
    align-items: flex-end;
}

.title {
    margin-right: 25px;
}

.subtitle {
    margin-bottom: 29px;
}

/* ----------- Coin Tabs ----------- */
.coin-container {
    display: flex;
    flex-direction: column;
}

/* ----------- Graph Header ----------- */

.graph-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

.current-price-container {
    padding: 0 50px;
}

.current-price-box {
    display: flex;
    align-items: center;
}

.current-price {
    font-size: 40px;
    font-weight: bold;
    margin-right: 25px;
}

.timeframe {
    display: flex;
    justify-content: flex-end;
    padding: 0 50px;
}

.timeframe__button-container {
    justify-content: flex-end;
}

/* ----------- Graph ----------- */
.coindesk-disclaimer {
    padding: 0 50px;
    font-size: 14px;
}

.icon.is-medium {
    height: 1.75rem !important;
    width: 1.75rem !important;
}